@import url('https://fonts.googleapis.com/css?family=Niconne');

.querico {
  font-family: 'Niconne', cursive;
}

#cake-icon {
  width: 36px;
}

div > div > div {
  line-height: 0px !important;
}

#cake-name {
  font-family: 'Niconne', cursive;
  font-size: 40px;
}
